.demonstration {
    background: #e0e0e0;
    border-left: 6px solid #888;
    padding: 10px;
    margin: 15px 0;
}

.indication {
    background: #ffe0e0;
    border-left: 6px solid red;
    padding: 10px;
}

.correction {
    background: #e0ffe0;
    border-left: 6px solid green;
    padding: 10px;
}